.layout-container {
  display: flex;
  height: 100vh;
  background: rgba(27, 27, 27, 1);
  align-items: center;

}

.question-container {
  width: 80vw;
  height: 95vh;
  padding: 24px 8px 8px 8px;
  gap: 47px;
  border-radius: 12px 0px 0px 0px;
  opacity: 0px;
  display: flex;
  flex-direction: column;
  background-color: #212121;
  margin: 0 1rem;
  border-radius: .8rem;
  backdrop-filter: blur(4px);
  box-shadow: 0px 4px 4px 0px #00000040;
  font-family: 'Poppins';
  position: relative;
  align-items: center;
}

.question-tittle {
  font-size: 24px;
  font-weight: 400;
  margin-bottom: 4rem;
  margin-top: 1rem;
}

.question-container-text {
  background: #1B1B1B;
  border: 1px solid #333232;
  font-size: 1rem;
  font-weight: 300;
  padding: 1rem;
  border-radius: 8px;
  margin-bottom: 4rem;
}

.button-container {
  margin: 0 auto;
  padding-top: 4rem;
  text-align: end;
  padding-right: 1rem;
}

.page-content {
  width: 70%;
  // margin: 0 auto;
  margin-left: 5rem;
}

.bg-logo {
  width: 15rem;
  position: absolute;
  opacity: .2;
  top: 35%;
  right: 45%;
  z-index: -5;

}



// ---------------STEP 3---------------------------------------------------

.countdown-component {
  background: linear-gradient(234.95deg, #4F2A40 0%, #302151 100%);
  min-height: 100vh;
  width: 100vw;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bg-logo-countdown {
  position: absolute;
  width: 45%;
  opacity: .1;
  z-index: -5;
  filter: drop-shadow(0px 0px 10px rgb(246, 176, 219));

}

.clock-container {
  text-align: center;
  font-family: 'Poppins';
  font-size: 3rem;
  font-weight: 500;
  color: white;
}

.clock {
  font-family: "Protest Guerrilla", sans-serif;
  font-size: 8rem;
}


// .dots-top {
//   position: absolute;
//   top: 0;
//   left: 8rem;
// }

// .dots-bottom {
//   position: absolute;
//   bottom: 0;
//   right: 8rem;
// }