.page {
  display:flex;
  flex-direction: row;
  background: #1b1b1b;
  height: 100vh;
}

.dashboard-container {
  flex: 1;                   
  display: flex;
  flex-direction: column;    
  overflow: auto; 
}

.app-side-bar{
   flex: 0 0 80px;

}

app-side-bar.sidebar-container-extended {
  flex: 0 0 250px;          
}

.footer {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.footer .btn-custom {
  display: flex;
  padding: 8px 16px;
  background-color: transparent;
  color: #55aaff;
  border-radius: 50px;
  font-size: 1rem;
  text-decoration: none;
  transition:
    transform 0.3s ease,
    background-color 0.3s ease,
    color 0.3s ease;
}

.footer .btn-custom:hover {
  color: violet;
  transform: scale(1.1);
}

.footer .btn-custom i {
  margin-right: 8px;
  //styleName: TrainIt/Label/Small;
  font-family: Poppins;
  font-size: 10px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: -0.02em;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

@media (max-width: 768px) {
  .page {
    flex-direction: column !important;
  }

  .dashboard-container {
    width: 100% !important;
    flex: none !important;
  }
}