<div class="body">
  <div class="title">
    <a (click)="close.emit()">
      <i class="fa-solid fa-circle-chevron-left"></i> volver al listado
    </a>
    <div>
      <h1>{{ selectNameForm.value.name }}</h1>
    </div>
    <div class="empty-space"></div>
  </div>

  <div class="content-1">
    <app-header-page></app-header-page>

    <div [formGroup]="selectNameForm">
      <div formArrayName="questions">
        <div
          *ngFor="let question of paginatedQuestions; let i = index"
          [formGroupName]="i"
          class="question-container">
          <div class="question-header">
            <label>Pregunta {{ currentPage * questionsPerPage + i + 1 }}</label>
          </div>

          <!-- Mostrar texto de la pregunta -->
          <div>
            {{ question.get('text').value }}
          </div>

          <!-- Opciones -->
          <div *ngIf="question.get('type').value === 'true_false'">
            <span>
              <input
                type="radio"
                name="correct_option_{{ i }}"
                (change)="selectCorrectOption(i, 'Verdadero')" />
              Verdadero
            </span>
            <span>
              <input
                type="radio"
                name="correct_option_{{ i }}"
                (change)="selectCorrectOption(i, 'Falso')" />
              Falso
            </span>
          </div>

          <div *ngIf="question.get('type').value === 'multiple_choice'">
            <div formArrayName="options">
              <div
                *ngFor="
                  let option of question.get('options').controls;
                  let j = index
                "
                [formGroupName]="j">
                <span>
                  <input
                    type="radio"
                    name="correct_option_{{ i }}"
                    (change)="selectCorrectOption(i, option.get('id').value)" />
                </span>
                <span>
                  {{ option.get('text').value }}
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="buttons">
      <button (click)="prevPage()" [disabled]="currentPage === 0">
        Anterior
      </button>
      <button (click)="nextPage()" [disabled]="currentPage >= totalPages - 1">
        Siguiente
      </button>
    </div>
  </div>
</div>
