<div class="body">
  <div class="title">
    <a (click)="close.emit()">
      <i class="fa-solid fa-circle-chevron-left"></i> volver al listado
    </a>
    <div>
      <h1>{{ selectNameForm.value.name }}</h1>
    </div>
    <div class="empty-space"></div>
  </div>

  <div class="content-1">
    <app-header-page></app-header-page>

    <div [formGroup]="selectNameForm">
      <div formArrayName="questions">
        <div
          *ngFor="let question of paginatedQuestions; let i = index"
          [formGroupName]="i"
          class="question-container">
          <div class="question-header">
            <!-- <label>Pregunta {{ currentPage * questionsPerPage + i + 1 }}</label> -->
          </div>

          <!-- Mostrar texto de la pregunta -->
          <div>
            {{ question.get('text').value }}
          </div>

          <!-- Opciones para preguntas de tipo true/false -->
        <div *ngIf="question.get('type').value === 'true_false'" class="option-row">
          <div class="option-item">  
            <span>
              <input
                type="checkbox"
                name="correct_option_{{ i }}"
                [checked]="question.get('correct_option').value === 'Verdadero'"
                (change)="selectCorrectOption(i, 'Verdadero')" />
              <label class="option-label">Verdadero</label>
            </span>
            </div>
            <div class="option-item">
            <span>
              <input
                type="checkbox"
                name="correct_option_{{ i }}"
                [checked]="question.get('correct_option').value === 'Falso'"
                (change)="selectCorrectOption(i, 'Falso')" />
              <label class="option-label">Falso</label>
            </span>
          </div>
        </div>

          <!-- Opciones para preguntas de tipo multiple_choice -->
          <div *ngIf="question.get('type').value === 'multiple_choice'" class="option-row">
            <div formArrayName="options">
              <div
                *ngFor="let option of question.get('options').controls; let j = index"
                [formGroupName]="j" class="option-item">
                <span>
                  <input
                    type="radio"
                    name="correct_option_{{ i }}"
                    [checked]="option.get('selected').value"
                    (change)="selectCorrectOption(i, option.get('id').value)" />
                </span>
                <span>
                  <label class="option-label">{{ option.get('text').value }}</label>
                </span>
                <span *ngIf="option.get('id').value === question.get('correct_option').value">
                  <i class="fa-solid fa-check"></i>
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="buttons">
      <button (click)="prevPage()" [disabled]="currentPage === 0">
        Anterior
      </button>
      <button (click)="nextPage()" [disabled]="currentPage >= totalPages - 1">
        Siguiente
      </button>
    </div>
  </div>
</div>
