$primary-color: magenta;
$secondary-color: darkviolet;
$background-dark: #1e1e1e;
$input-background: #212121;
$border-color: rgba(241, 121, 197, 1);

// Main Layout
.body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: $background-dark;
  height: 95vh;
  padding: 20px;
  border-radius: 15px;
  margin-block: 2.5vh;
}

// Title Section
.title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;

  .leave {
    color: white;
    flex: 0 0 33.33%;
    transition: 0.3s ease-in-out;
    text-decoration: none;
    display: flex;
    align-items: flex-end;

    &:hover {
      cursor: pointer;
      color: $primary-color;
    }
  }

  .empty-space {
    flex: 0 0 33.33%;
  }
}

// Main Content
.content-1 {
  width: 100%;
  height: 100%;
  background-image: url('../../../../../assets/images/logo.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 414px 404px;
  background-color: #353434;
  background-blend-mode: overlay;
  border-radius: 15px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  border: 2px solid $border-color;
  box-shadow: 0px 0px 12.8px $border-color;
}

// Questions Section
.question-container {
  margin-bottom: 2rem;
  border-radius: 8px;
  border: 2.5px solid rgb(61, 36, 160);
  position: relative;
}
.question-container-edit {
  margin-bottom: 2rem;
  border-radius: 8px;
  position: relative;
}

#questions-scroll {
  overflow-y: scroll;
  margin-top: 10px;
}

// Question Text and Options
.text-question {
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.option-row {
  display: inline;
  margin-top: 15px;
}

.option-item {
  display: inline-flex;
  align-items: center;
  width: 48%;
  margin-bottom: 10px;
  border: 1px solid $input-background;
  border-radius: 12px;
  background-color: $input-background;
  padding: 5px;
  color: white;
  margin-inline: 5px;
}

.option-label {
  color: white;
  margin-left: 5px;
}

// Edit Button
.edit-button {
  background: rgb(58 54 54);
  border: none;
  color: none;
  cursor: pointer;
  padding: 5px;
  transition: color 0.3s ease;
  border-radius: 5px;

  &:hover {
    color: #ff5ea6;
  }
}

// Popup Styles
.edit-popup {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 8px;
}

.content-2 {
  height: auto;
  padding: 16px;
  gap: 17px;
  font-family: Poppins;
  border-radius: 8px;
  padding: 16px;
  opacity: 0px;
  background-color: #353434;
  box-shadow: 0px -3px 12.8px 0px rgba(241, 121, 197, 1);
  animation: fadeIn 0.5s ease-in-out forwards;
  animation-delay: 0.2s; // Delay the animation to allow the background to fade in first
  z-index: 99999;

  .popup-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
    color: white;

    h3 {
      margin: 0;
    }
  }
}
#form-group {
  display: flex;

  flex-wrap: wrap;
  justify-content:space-around;
  align-items: center;
}

// Form Elements
input[type='text'],
.custom-option-input {
  padding: 12px;
  margin-left: -8px;
  border: 1px solid $input-background;
  border-radius: 12px;
  background-color: $input-background;
  width: 100%;
  color: white;
}

.span-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.custom-label {
  color: white;
  margin-bottom: 5px;
  display: block;
  width: 50%;
  padding: 12px;
}

// Save Button
.save-button {
  padding: 10px 20px;
  background: linear-gradient(
    to right,
    rgba(106, 95, 255, 0.5019607843),
    rgba(255, 94, 166, 0.5019607843)
  );
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-left: 50%;

  &:hover {
    background-color: darken($secondary-color, 10%);
  }
}
//edit

.custom-label {
  font-family: Poppins;
  font-weight: 500;
  font-size: 14px;
  color: rgba(255, 255, 255, 1);
}

.custom-select {
  width: 60.5vh;
  height: 28px;
  border: none;
  opacity: 0px;
  padding: 0 0 0 8px;

  background: rgba(32, 32, 32, 1);
  color: rgba(194, 187, 187, 0.6);
}
// .custom-input {
//   width: 61vh;
//   height: 4vh;
//   border: none;
//   gap: 0px;
//   padding: 0px 8px 0px 8px;
//   opacity: 0px;
//   background: rgba(32, 32, 32, 1);
//   border-radius: 8px;
// }

.custom-option-group {
  margin-bottom: 10px;
}

// .option-row {
//   width: 130vh;
//   display: flex;
//   justify-content: space-around;
//   flex-wrap: wrap;
// }

.custom-option-input {
  width: 57vh;
  height: 4vh;
  border-radius: 8px;
  background-color: #202020;
  border: none;
  color: gray;
  border-radius: 0 8px 8px 0px;
  cursor: pointer;
}

.checkbox-container {
  width: 4vh;
  height: 4vh;
  background-color: #303030;
  border-radius: 8px 0 0 8px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
  z-index: 9999;
}

.checkbox-input {
  font-size: large;
}

.custom-radio {
  padding: 0 0 0 8px;
  width: 378px;
}

.custom-add-option-btn {
  width: 60vh;
  gap: 5px;
  border-radius: 8px;
  padding: 5px;
  color: #d8d6d6;
}

.custom-btn-submit {
  width: 91px;
  height: 42px;
  padding: 3px;
  background-color: rgba(106, 95, 255, 1);
  box-shadow: 0px 4px 4px 0px #00000026;
  cursor: pointer;
  border-radius: 8px;
  border: 1.4px solid #706fe5;
  font-size: 12px;
  color: #ffff;
}
.close-button {
  width: 91px;
  height: 42px;
  padding: 3px;
  background-color: transparent;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.1490196078);
  cursor: pointer;
  border-radius: 8px;
  border: 1.4px solid #706fe5;
  font-size: 12px;
  color: #706fe5;
}

.custom-btn-save {
  width: 12vh;
  height: 42px;
  padding: 0.3rem;
  top: 80vh;
  right: 40vh;
  position: absolute;
  background-color: rgba(106, 95, 255, 1);
  box-shadow: 0px 4px 4px 0px #00000026;
  cursor: pointer;
  border-radius: 8px;
  border: 1.4px solid #706fe5;
  font-size: 12px;
  color: #ffff;
}

.custom-btn-new-question {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  width: 91px;
  height: 42px;
  padding: 8px;
  border-radius: 8px;
  border: 1.4px solid #5f5f5f;
  font-size: 12px;
  background: rgba(95, 95, 95, 1);
  color: rgba(126, 126, 126, 1);
  display: flex;
  justify-content: center;
  align-items: center;
}

.label-input {
  display: flex;
  justify-content: flex-start;
}
#questionType {
  background-color: #202020;
  border-radius: 12px;
  padding: 10px;
  width: 350px;
}
