.blue-button {
    all: unset;
    background-color: #6a5fff;
    height: 2.5rem;
    padding:  0 1.2rem ;
    border-radius:.5rem;
    cursor: pointer;

    &.disabled,
    &:disabled {
        opacity: 0.6;
        cursor: not-allowed;
        pointer-events: none;
    }
}