<form [formGroup]="selectHeaderForm">
  <div class="content">
    <div class="content-1">
      <!-- Opciones de Módulo -->
      <div class="input-container">
        <h4>Módulo</h4>
        <div class="form-select option-select" (click)="isShowModulo()">
          <span [ngClass]="[quizCategory?.module, 'floating']">
            {{quizCategory?.module || 'Selecciona el modulo'}}
          </span>
        </div>
          @if (showModulo) {
            <div class="option-floating floating-module">
              @for (module of modules; track $index) {
                <button
                  class="module-option"
                  (click)="selectModule(module)">
                  {{ module.name }}
                </button>
              }
            </div>
          }
      </div>
      <!-- Opciones de Célula -->
      <div class="input-container">
        <h4>Célula</h4>
        <div class="form-select option-select" (click)="isShowCelula()">
          <span
          class="floating"
          [style.background-color]="quizCategory?.colorCell">
            {{ quizCategory?.cell || 'Selecciona la célula'}}
          </span>
        </div>
        @if (showCelula && cells.length > 0) {
          <div class="option-floating floating-cell">
            @for (cell of cells;track $index) {
                <button
                  class="floating"
                  (click)="selectCell(cell, colorsCells[$index])"
                  [style.background-color]="colorsCells[$index]">
                  {{ cell.name }}
                </button>
            }
          </div>
        }
      </div>
      <!-- senñority -->
      <div class="input-container">
        <h4>Seniority / Nivel</h4>
        <div class="form-select option-select" (click)="isShowSeniority()">
          <span class='floating' [class]="getSelectedSeniorityClass()"
            >{{ quizCategory?.seniority || 'Seniority'}}
          </span>
        </div>
          <!-- absolute -->
          @if (showSeniority){
            <div class="option-floating floating-seniority">
                @for (seniority of seniorities; track $index) {
                <button
                (click)="selectSeniority(seniority.name)"
                class="floating {{ seniority.class }} ">
                  {{ seniority.name }}
                </button>
                }
            </div>
          }
      </div>

    </div>
  </div>
</form>
