.new-title {
  margin-top: 20px;
  height: 40;
}

.question-title {
  font-style: Poppins;
  font-weight: 400;
  font-size: 22px;
}

.input-name {
  width: 384px;
  height: 40px;
}

.text-description {
  width: 135vh;
  height: 76px;
  margin: 0;
  padding-top: 8px;
}
.input-name,
.text-description {
  border-radius: 8px;
  border: 1px solid #333232;
  background-color: #1b1b1b;
  padding-left: 16px;
  font-size: 14px;
}

.header-inputs-container {
  padding: 0 1rem 1 rem 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 2.2rem;
}

.transparent {
  background-color: #2121217a;
  /* width: 170vh; */
  height: 95vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.content-1 {
  background-color: #353434;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 135vh;
  
  border-radius: 12px;
  padding: .8rem;
}

.input-container {
  
  width: 41vh;
  height: 9vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.option-floating {
  position: absolute;
  width: 41vh;
  background-color: #303030;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: .8rem;
  align-items: center;
  padding: .8rem;
  border-radius: 8px;
  cursor: pointer;
}

.floating {
  border: none;
  padding-left: .8rem;
  padding-right: .8rem;
  font-size: 12px;
}


h4 {
  margin: 0;
  font-size: 16px;
}

.option-select {
  cursor: pointer;
  border: 2px solid #fff;
  border: none;
  color: #c2bbbb99;
  background-color: #202020;
  height: 4vh;
  display: flex;
  align-items: center;
}

.option {
  background-color: #353434;
  white-space: nowrap;
}

.Diseño-UX-UI {
  background-color: #ffcc00;
  color: #795f3a;
  border-radius: 10px;
  white-space: nowrap;
}

.QA-Tester {
  border-radius: 20px;
  background-color: #ff9500;
  color: #795f3a;
}
.Frontend {
  border-radius: 20px;
  background-color: #34c759;
  color: #795f3a;
}
.Backend {
  border-radius: 20px;
  background-color: #00c7be;
  color: #795f3a;
}
.PM {
  border-radius: 20px;
  background-color: #30b0c7;
  color: #795f3a;
}
.Scrum-Master {
  border-radius: 20px;
  background-color: #32ade6;
  color: #795f3a;
}
.trainee {
  border-radius: 20px;
  background-color: #007aff;
  color: #795f3a;
}
.junior {
  border-radius: 20px;
  background-color: #5856d6;
  color: #57462e;
}
.semi-sr {
  border-radius: 20px;
  background-color: #af52de;
  color: #5e4b30;
}
.senior {
  border-radius: 20px;
  background-color: #ff2d55;
  color: #423420;
}

