<form [formGroup]="selectHeaderForm">
  <div class="content">
    <div class="content-1">
      <div class="input-container">
        <h4>Módulo</h4>
        <div class="form-select option-select" (click)="isShowModulo()">
          <span [ngClass]="[questionCategory?.module, 'floating']">{{
            questionCategory?.module
          }}</span>
          <div *ngIf="showModulo" class="option-floating floating-module">
            <span *ngFor="let element of opModules; let i = index">
              <button
                class="module-option"
                (click)="pushQuestionCategory('module', element.name)">
                {{ element.name }}
              </button>
            </span>
          </div>
        </div>
      </div>

      <div class="input-container">
        <h4>Célula</h4>
        <div class="form-select option-select" (click)="isShowCelula()">
          <span
            class="floating"
            [style.background-color]="questionCategory?.colorCell"
            >{{ questionCategory?.cell }}</span
          >
          <div *ngIf="showCelula" class="option-floating floating-cell">
            <span *ngFor="let element of opCells; let i = index">
              <button
                class="floating"
                (click)="pushQuestionCategory('cell', element.name, colorsCells[i])"
                [style.background-color]="colorsCells[i]">
                {{ element.name }}
              </button>
            </span>
          </div>
        </div>

        <!-- Adaptacion UI -->
      </div>
      <!-- senñority -->
      <div class="input-container">
        <h4>Seniority / Nivel</h4>
        <div (click)="isShowSeniority()" class="form-select option-select">
          <span [ngClass]="[questionCategory?.seniority, 'floating']"
            >{{ questionCategory?.seniority }}
          </span>

          <!-- absolute -->
          <div class="option-floating floating-seniority" *ngIf="showSeniority">
            <button
              class="floating trainee"
              (click)="pushQuestionCategory('seniority', 'trainee')">
              Trainee
            </button>
            <button
              class="floating junior"
              (click)="pushQuestionCategory('seniority', 'junior')">
              Junior
            </button>
            <button
              class="floating semi-sr"
              (click)="pushQuestionCategory('seniority', 'semi-sr')">
              Semi Sr
            </button>
            <button
              class="floating senior"
              (click)="pushQuestionCategory('seniority', 'senior')">
              Senior
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
