<form [formGroup]="selectHeaderForm">
    <div class="header-inputs-container">
      <div>
        <input
          type="text"
          class="input-name mb-2"
          placeholder="Nombre del Quiz"
           />
      </div>
      <div>
        <div
          class="text-description"
          placeholder="Descripción"
          >Descripción</div>
      </div>
    </div>

    <div class="content">
      <div class="content-1">
        <div class="input-container">
          <h4>Módulo</h4>
          <select
            
            class="form-select option-select"
            aria-label="Default select example">
            <option value="" disabled selected>Desarrollo</option>
            <option class="option" value="1">Marketing</option>
            <option class="option" value="2">Sistemas</option>
          </select>
        </div>

        <div class="input-container">
          <h4>Célula</h4>

          
          <div
            (click)="isShowCelula()"
            class="form-select option-select"
            aria-label="Default select example">
            <span [ngClass]="[questionCategory?.modulo, 'floating']">{{
              questionCategory?.modulo
            }}</span>

            <div
              *ngIf="showCelula"
              class="option-floating"
              (click)="isShowCelula()">
              <button
                class="floating Diseño-UX-UI"
                (click)="pushQuestionCategory('modulo', 'Diseño-UX-UI')">
                Diseño UX/UI
              </button>
              <button
                class="floating QA-Tester"
                (click)="pushQuestionCategory('modulo', 'QA-Tester')">
                QA Tester
              </button>
              <button
                class="floating Frontend"
                (click)="pushQuestionCategory('modulo', 'Frontend')">
                Front end
              </button>
              <button
                class="floating Backend"
                (click)="pushQuestionCategory('modulo', 'Backend')">
                Back end
              </button>
              <button
                class="floating PM"
                (click)="pushQuestionCategory('modulo', 'PM')">
                PM
              </button>
              <button
                class="floating Scrum-Master"
                (click)="pushQuestionCategory('modulo', 'Scrum-Master')">
                Scrum Master
              </button>
            </div>
          </div>

          <!-- Adaptacion UI -->
        </div>
        <!-- senñority -->
        <div class="input-container">
          <h4>Seniority / Nivel</h4>
          <div
            (click)="isShowSeniority()"
            class="form-select option-select"
            aria-label="Default select example">
            <span [ngClass]="[questionCategory?.seniority, 'floating']"
              >{{ questionCategory?.seniority }}
            </span>

            <!-- absolute -->
            <div
              class="option-floating"
              *ngIf="showSeniority"
              (click)="isShowSeniority()">
              <button
                class="floating trainee"
                (click)="pushQuestionCategory('seniority', 'trainee')">
                Trainee
              </button>
              <button
                class="floating junior"
                (click)="pushQuestionCategory('seniority', 'junior')">
                Junior
              </button>
              <button
                class="floating semi-sr"
                (click)="pushQuestionCategory('seniority', 'semi-sr')">
                Semi Sr
              </button>
              <button
                class="floating senior"
                (click)="pushQuestionCategory('seniority', 'senior')">
                Senior
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>