.layout-container {
    display: flex;
    height: 100vh;
  }
  .question-container {
    width: 80vw;
    height: 95vh;
    padding: 24px 8px 8px 8px;
    gap: 47px;
    border-radius: 12px 0px 0px 0px;
    opacity: 0px;
    display: flex;
    flex-direction: column;
    background-color: #212121;
    margin: 0 1rem;
    border-radius: .8rem;
    backdrop-filter: blur(4px);
    box-shadow: 0px 4px 4px 0px #00000040;
}
.question-tittle {
  font-size: 24px;
  font-weight: 400;
  margin-bottom: 2rem;
  width: 1152px;
  height: 32px;
  padding: 0px 0px 0px 64px;
  gap: 8px;
}
.question-container-text {
  
  width: 899px;
  height: 76px;
  background: #1B1B1B;
  border: 1px solid #333232;
  font-size: .9rem;
  font-weight: 300;
  padding: 8px 0px 0px 16px;
  border-radius: 8px 0px 0px 0px;
  margin-bottom: 1rem;
}

