<div class="layout-container">

    <app-side-bar role="candidate" [extended]="false">
    </app-side-bar>
    @if (step === 1) {
    <div class="question-container">

        <img src="assets/layout/images/logo.svg" alt="Logo" class="bg-logo">
        <div class="page-content">
            <div class="question-tittle">
                Bienvenido al Challenge TrainIT
            </div>
            <div class="question-container-text">
                Gracias por tu interés en formar parte de la comunidad TrainIT. Bienvenido a nuestro Challenge TrainIT.
                Completar este Challenge le permitirá demostrar las habilidades requeridas para este rol
            </div>
            <div class="question-container-text">

                <li>Este Challenge consta de 10 preguntas sencillas (Selección simple, múlitple y Verdadero/Falso).</li>
                <li>Completarlo te dará la oportunidad de mostrar tus habilidades.</li>
                <li>La evaluación está cronometrada. Se muestra un temporizador.</li>
                <li>Recomendamos completar la evaluación de una sola vez.</li>
                <br>
                Buena Suerte!
            </div>
            <div class="button-container">
                <app-blue-button text="Entendido" (click)="nextStep()">
                </app-blue-button>
            </div>
        </div>

    </div>
    }
    @if (step === 2) {
    <app-question-container [test]="true" (nextStep)="nextStep()">
    </app-question-container>
    }

    @if (step === 3) {
    <div class="countdown-component">
        <!-- <img src="assets/DotsTop.png" alt="" class="dots-top"> -->
        <!-- <img src="assets/DotsBottom.png" alt="" class="dots-bottom"> -->
        <img src="assets/layout/images/logo.svg" alt="Logo" class="bg-logo-countdown">
        <div class="clock-container">
            <p>Tu challenge inicia en</p>
            <p class="clock">{{countdown}}</p>
        </div>
    </div>
    <!-- {{ nextStep() }} -->
    }
    @if (step === 4) {
    <app-question-container [test]="false">
    </app-question-container>
    }
</div>