<div class="layout-container">
    
    <app-side-bar
    role="candidate"
    [extended]="false">
    </app-side-bar>
    <div class="question-container" >
        <div>
            <div class="question-tittle">
                Bienvenido al Challenge TrainIT
            </div>
        </div>
        <div class="question-container-text">
            Gracias por tu interés en formar parte de la comunidad TrainIT. Bienvenido a nuestro Challenge TrainIT.
            Completar este Challenge le permitirá demostrar las habilidades requeridas para este rol
        </div>
        <div>
            Este Challenge consta de 10 preguntas sencillas (Selección simple, múlitple y Verdadero/Falso).
            Completarlo te dará la oportunidad de mostrar tus habilidades.
            La evaluación está cronometrada. Se muestra un temporizador.
            Recomendamos completar la evaluación de una sola vez.


            Buena Suerte!
        </div>
        <app-blue-button
        text="Entendido"
        onclick=""></app-blue-button>
    </div>
    <!-- <app-question-container>

    </app-question-container> -->

</div>