<section class="d-flex">
  <app-side-bar> </app-side-bar>

  <!-- Content -->
  <div class="dashboard-container">
    <div class="header" *ngIf="user$ | async as user">
      <h1>
        Bienvenido <span>{{ users.name }}</span>
      </h1>
      <p class="date">{{ users.date }}</p>
    </div>
    <div class="grid">
      <div class="card" *ngFor="let item of items">
        <span class="title">{{ item.title }}</span>
        <img [src]="item.icon" [alt]="item.title" />
      </div>
    </div>
    <div class="footer">
      <a href="#" class="btn-custom"
        ><i class="bi bi-arrow-right-circle"></i> Volver al listado</a
      >
    </div>
  </div>
</section>
