<section class="d-flex page">
  <app-side-bar role="candidate"> </app-side-bar>

  <!-- Content -->
  <div class="dashboard-container">
    <div class="header" *ngIf="user$ | async as user">
      <h1>
        Bienvenido, {{ user.name }}
      </h1>
      <p class="date">{{ currentDate | date:'dd MMM yyyy' }}</p>
    </div>
    
    <!-- Cards -->
    <div class="grid">
      <div class="card" *ngFor="let item of items">
        <span class="title">{{ item.title }}</span>
        <img [src]="item.icon" [alt]="item.title" />
      </div>
    </div>
    <div class="footer">


    <!-- ¿Este botón se puede eliminar? -->

      <!-- <a href="#" class="btn-custom"
        ><i class="bi bi-arrow-right-circle"></i> Volver al listado</a
      > -->
    </div>
  </div>
</section>
