.pop-message-container {
    background-color: #212121;
    border-radius: 1.5rem;
    padding: .8rem 2rem .8rem 2rem;
    box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.25);
} 

.close-btn {
    border: none;
    background-color: rgba(0, 0, 0, 0);
}