.input-w {
  position: relative;
  width: 208px;
  min-height: 53px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 4px;
}

.input-w input {
  background-color: white;
  border: solid 1px #6a6ae8;
  border-radius: 8px;
  font-family: Poppins;
  font-weight: 300;
  font-style: light;
  font-size: 10px;
  width: 208px;
  height: 31px;
}

.input-w input:focus {
  box-shadow: 0 0 0 0.25rem #6a6ae8;
  outline: none;
}

.input-w label {
  position: absolute;
  top: -8px;
  left: 11px;
  width: auto;
  height: auto;
  background-color: #1b1b1b;
  padding: 0px 4px;
  font-family: Poppins;
  font-size: 10px;
  color: #ffffff;
  text-align: center;
  border-radius: 4px;
}

.btn-form {
  border-radius: 8px;
  font-size: 12px;
  border: solid 3px #6a5fff;
  background-color: #6a5fff;
  width: 208px;
  height: 42px;
  padding: 8px;
  margin-bottom: 20px;
}

.logo {
  width: 141px;
  height: 145px;
}

.required {
  color: #f63aaf;
}

.required-text {
  margin-left: 10px;
  color: #f63aaf;
  margin-bottom: 10px;
}

.fondo {
  background-image: url('/assets/background.png');
  background-size: cover;
  min-height: 100vh;
  width: 100%;
}

.dotTop {
  position: absolute;
  top: 0%;
  left: 10%;
}

.dotBottom {
  position: absolute;
  bottom: 0%;
  right: 10%;
}

.eyePic {
  height: 12px;
  width: 12px;
}

.showPasswordBtn {
  height: 25px;
  position: absolute;
  right: 10%;
  top: 3px;
  display: flex;
  align-items: center;
  justify-items: center;
  border: none;
}
