<div class="content">
    <div class="content-1">
      <div class="input-container">
        <h4>Módulo</h4>
        <select
          formControlName="modulo"
          class="form-select option-select"
          aria-label="Default select example">
          <option class="option" selected>Desarrollo</option>
          <option class="option" value="1">Marketing</option>
          <option class="option" value="2">Sistemas</option>
        </select>
      </div>

      <div class="input-container">
        <h4>Célula</h4>
        <select
          formControlName="celula"
          class="form-select option-select"
          aria-label="Default select example">
          <option class="option" selected>Selecciona la Célula</option>
          <option class="option diseño-ux-ui" value="1">
            Diseño UX/UI
          </option>
          <option class="option qa-tester" value="2">QA Tester</option>
          <option class="option frontend" value="3">Front end</option>
          <option class="option backend" value="4">Back end</option>
          <option class="option pm" value="5">PM</option>
          <option class="option scrum-master" value="6">
            Scrum Master
          </option>
          <option class="option trainee" value="7">Trainee</option>
          <option class="option junior" value="8">Junior</option>
          <option class="option semi-sr" value="9">Semi Sr</option>
          <option class="option senior" value="10">Senior</option>
        </select>

        <!-- Adaptacion UI -->
        <div  ngClass="option-floating">
          <button class="floating diseño-ux-ui" value="1">
            Diseño UX/UI
          </button>
          <button class="floating qa-tester" value="2">QA Tester</button>
          <button class="floating frontend" value="3">Front end</button>
          <button class="floating backend" value="4">Back end</button>
          <button class="floating pm" value="5">PM</button>
          <button class="floating scrum-master" value="6">
            Scrum Master
          </button>
          <button class="floating trainee" value="7">Trainee</button>
          <button class="floating junior" value="8">Junior</button>
          <button class="floating semi-sr" value="9">Semi Sr</button>
          <button class="floating senior" value="10">Senior</button>
        </div>
      </div>

      <div class="input-container">
        <h4>Seniority / Nivel</h4>
        <select
          class="form-select option-select"
          formControlName="level"
          aria-label="Default select example">
          <option class="option trainee" value="3">Trainee</option>
          <option class="option junior" value="3">Junior</option>
          <option class="option semi-sr" value="3">Semi Sr</option>
          <option class="option senior" value="3">Senior</option>
        </select>
      </div>
    </div>
  </div>