.quiz-dashboard {
  padding: 20px;
  color: #fff;
  height: 95vh;
  width: 150vh;
  border-radius: 12px;
  padding: 24px 8px 8px 8px;
  gap: 47px;
  opacity: 0px;
  overflow: auto;
  margin-block: 2.5vh;
  background-color: rgb(53, 52, 52);

  border: 2px solid rgba(241, 121, 197, 1);
  // background-image: url('../../../../../assets/layout/images/logo.svg');
  // background-repeat: no-repeat;
  // background-position: center;
  // background-size: 180px;
}
.table-sup {
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.20000000298023224px;
  text-align: center;
  background: rgba(27, 27, 27, 0.5);
}
.table-int {
  margin: 0 auto;
  flex: auto;
  background: rgba(27, 27, 27, 0.5);
}
h2 {
  color: #fff;
  font-size: 1.5rem;
  margin: 0;
}

.filters {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.filters select {
  background-color: rgba(53, 52, 52, 0.5);

  border: 1px solid #444;
  padding: 10px;
  color: #fff;
  border-radius: 5px;
  width: 30%;
}

.search-container {
  top: 0;
  background-color: rgba(53, 52, 52, 0.5);

  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
}

.search-container input {
  background-color: rgba(53, 52, 52, 0.5);

  border: 1px solid #444;
  padding: 8px;
  color: #fff;
  border-radius: 5px;
  width: 200px;
}

.table-and-button {
  display: flex;
  justify-content: space-between;
}

.table-container {
  width: 85%;
}

.new-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 15%;
}

.new-button button {
  background-color: #6200ea;
  border: none;
  padding: 10px 20px;
  color: white;
  font-size: 1rem;
  border-radius: 5px;
  cursor: pointer;
}

.new-button button:hover {
  background-color: #4500b5;
}

.quiz-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
  background: rgba(27, 27, 27, 0.5);
}

.activo {
  color: rgba(151, 71, 255, 1);
}

.inactivo {
  color: red;
  font-weight: normal;
}

.input-wrapper {
  position: relative;
  display: inline-block;
  border-radius: 32px;
}

.input-wrapper i {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: #aaa;
}
.custom-popup {
  background-color: rgba(53, 52, 52, 0.5) !important;

  color: #fff !important;
  border-radius: 15px !important ;
}

.custom-title {
  font-size: 20px !important;
  font-weight: bold !important;
  color: #fff !important;
}

.custom-content {
  font-size: 14px !important;
  color: #cccccc !important;
}

.custom-confirm-btn {
  background-color: #6c63ff !important;
  border-radius: 10px !important;
  color: #fff !important;
  padding: 10px 20px !important;
}

.custom-cancel-btn {
  background-color: #4e4e4e !important;
  border-radius: 10px !important;
  color: #fff !important;
  padding: 10px 20px !important;
}

.input-wrapper input {
  padding-left: 35px;
  width: 100%;
}

.quiz-table th,
.quiz-table td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #444;
  background-color: rgba(53, 52, 52, 0.5);
  text-align: center; // Centrar el texto horizontalmente
  padding: 12px; // Espacio alrededor del texto
  font-family: 'Poppins';
}

.actions button {
  display: flexbox;
  background: none;
  border: none;
  cursor: pointer;
  color: white;
}

.status {
  font-weight: bold;
  transition: .5s ease-in-out;
}
.status:hover{
  cursor: pointer;
}
.status.Activo {
  color: rgba(151, 71, 255, 1);
}

.status.Inactivo {
  color: #ff0000;
}
