<div class="quiz-dashboard">
  <h2>Todos los Quiz</h2>
  <div class="search-container">
    <input type="text" placeholder="Buscar"  />
  </div>
  <div class="col-12">

  <table class="quiz-table">
    <thead>
      <tr>
        <th>Nombre Q.</th>
        <th>Seniority</th>
        <th>Fec. Creación</th>
        <th>Creador</th>
        <th>Módulo</th>
        <th>Célula</th>
        <th>Estado</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let quiz of filteredQuizzes()">
        <td>{{ quiz.name }}</td>
        <td>{{ quiz.seniority }}</td>
        <td>{{ quiz.creationDate }}</td>
        <td>{{ quiz.creator }}</td>
        <td>{{ quiz.module }}</td>
        <td>{{ quiz.cell }}</td>
        <td><span class="status" [ngClass]="quiz.status">{{ quiz.status }}</span></td>
        <td class="actions">
          <button (click)="viewQuiz(quiz)">👁️</button>
          <button (click)="editQuiz(quiz)">✏️</button>
          <button (click)="deleteQuiz(quiz)">🗑️</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
</div>
