.welcome-container {
  /* background-color: pink; */
  width: 1034px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.column-tasks {
  background-color: red;
  width: 60px;
  height: 551px;
  border-radius: 12px;
  padding: 24px 8px 8px 8px;
  background-color: #212121;
  display: flex;
  align-items: start;
  justify-content: center;
  gap: 3px;
  box-shadow:
    0px 4px 4px 0px #718ee3,
    0px 4px 4px 0px #00000040;
}

.column-btn {
  border: none;
  background-color: #212121;
}

.column-btn .span-linear {
  background: linear-gradient(to right, #ff5ea6, #446bdb);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  /* font-family: Poppins; */
  font-size: 13px;
  block-size: 700;
  position: relative;
}

.column-btn .span-linear::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0; /* Posiciona el subrayado justo debajo del texto */
  width: 100%;
  height: 2px; /* Ajusta el grosor del subrayado */
  background: linear-gradient(to right, #ff5ea6, #446bdb);
}

.btn-plus {
  width: 40px;
  height: 40px;
  border-radius: 8px;
  padding: 8px;
  gap: 8px;
  background: linear-gradient(to right, #6a5fff80, #ff5ea680);
  border: none;
}
