<div class="wall">
  <!-- Botones -->
  <div>
    <div [ngClass]="isExpanded2 ? 'd-flex flex-row-reverse' : 'd-flex '">

      <!-- TODOS -->
      <div
        [ngClass]="isExpanded1 ? 'active-column ' : 'column-tasks'"
        (click)="toggleExpand1()">
        <button class="column-btn">
          <span class="span-linear">Todos</span>
        </button>
      </div>

      <!-- Contenido de TODOS -->
      <div
        class=""
        [@expandState1]="isExpanded1 ? 'expanded' : 'collapsed'">
        <app-all-page *ngIf="isExpanded1"></app-all-page>
      </div>


      <!-- NUEVO -->
      <div
        [ngClass]="isExpanded2 ? 'active-column order-1' : 'column-tasks'"
        
        (click)="toggleExpand2()">
        <button class="column-btn">
          <span class="span-linear">Nuevo</span>
        </button>
      </div>

      <!-- Contenido de NUVO -->
       
      <!-- <div [@expandState2]="isExpanded2 ? 'expanded' : 'collapsed'">
        <app-new-pages *ngIf="isExpanded2"></app-new-pages>
      </div> -->
      <div [@expandState2]="isExpanded2 ? 'expanded' : 'expanded'">
        <app-new-pages></app-new-pages>
      </div>

      
    </div>
  </div>

  <!-- + -->
  <!-- <div class="" (click)="toggleExpand2()">
    <button class="btn-plus">
      <span class="circle"><i class="bi bi-plus"></i></span>
    </button>
  </div> -->
  
</div>
