.all {
  border: 1px solid rgb(119, 0, 255);
  padding: .5rem;
  padding-top: 2rem;
  height: 70vh;
  border-radius: 15px;
}


.edit {
  border: 1px solid rgb(119, 0, 255);
  background-color: orange;
  padding: 0.5rem;
  padding-top: 2rem;
  height: 70vh;
  border-radius: 15px;
}

.new {
  border: 1px solid rgb(119, 0, 255);
  padding: 0.5rem;
  padding-top: 2rem;
  height: 58vh;
  border-radius: 15px;
}
