.question-container {
    width: 80vw;
    height: 95vh;
    padding: 24px 8px 8px 8px;
    gap: 47px;
    border-radius: 12px 0px 0px 0px;
    opacity: 0px;
    display: flex;
    flex-direction: column;
    // align-items: center;
    justify-content: center;
    background-color: #212121;
    margin: 0 1rem;
    border-radius: .8rem;
    backdrop-filter: blur(4px);
    box-shadow: 0px 4px 4px 0px #00000040;

    // box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.25);

    // box-shadow: 0px 4px 9.5px 6px rgba(0, 0, 0, 0.25);

}

.counter-container {
    width: 108px;
    height: 36px;
    padding: 8px 0px 0px 0px;
    gap: 0px;
    opacity: 0px;
    font-family: Protest Guerrilla;
    font-size: 32px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.25px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;

}


.button-container {
    width: 804px;
    margin: 0 auto;
    text-align: end;
    padding-right: 1rem;
}