<div class="question-container">
  <div class="header">
    <div class="timer counter-container">
      {{ counter | date:'mm:ss' }}
    </div>
  </div>

  @if (currentQuestion) {
    <app-question 
      [question]="currentQuestion"
      (answerChanged)="onAnswerChanged($event)">
    </app-question>
  }

  <div class="button-container">
    <app-blue-button 
      [text]="getButtonText()"      
      [disabled]="!canProceed() || isSubmitting"
      (onClick)="nextQuestion()">
    </app-blue-button>
  </div>
</div>