// Variables SCSS para colores y otros valores reutilizables
$background-color: #2a2a2a;
$shadow-color: rgba(0, 217, 255, 0.4);
$input-bg-color: #333;
$text-color: #fff;
$border-radius: 12px;
$transition-time: 0.3s;
$spacing: 20px; // Espaciado general para márgenes y padding

.new-title {
    margin-top: 20px;
  }

// Contenedor regular
.normal-container {
  width: 85vw;
  height: 80vh;
  margin: 20px auto; // Centra el contenedor horizontalmente
  background-color: #212121;
  padding: $spacing;
  border-radius: $border-radius;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.9);
  background-image: url('/src/assets/layout/images/logo.svg'); // Ruta de la imagen
  background-size: cover; // Ajusta la imagen para cubrir todo el contenedor
  background-position: center; // Posiciona la imagen en el centro
  background-repeat: no-repeat; // Evita que la imagen se repita


  // Contenido interno del contenedor
  .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: $spacing;


    .content-1{
        background-color: #353434;
        display: flex;
        justify-content: space-between;
        gap: 20px;
        width: 80vw;
        height: 20vh;
        border-radius: 12px;

        h4 {
            padding: 5px;
        }

        .option-select {
            border: 2px solid #fff;
            color: #C2BBBB;
            background-color: #202020;

        }

        .option {
            background-color: #353434;
            border-radius: 12px;
        }



    }



  }
}
