<!-- Mensaje de saludo -->
<!-- <div class="container">
    <h1 class="new-title">Nombre del Quizz</h1>
</div> -->

<div class="normal-container">
  <form [formGroup]="selectHeaderForm" (submit)="send()" class="content">
    <div class="content-1">
      <div class="input-container">
        <h4>Módulo</h4>
        <select
          formControlName="modulo"
          class="form-select option-select"
          aria-label="Default select example">
          <option class="option" selected>Desarrollo</option>
          <option class="option" value="1">Marketing</option>
          <option class="option" value="2">Sistemas</option>
        </select>
      </div>

      <div class="input-container">
        <h4>Célula</h4>
        <select
          formControlName="celula"
          class="form-select option-select"
          aria-label="Default select example">
          <option class="option" selected>Selecciona la Célula</option>
          <option class="option diseño-ux-ui" value="1">Diseño UX/UI</option>
          <option class="option qa-tester" value="2">QA Tester</option>
          <option class="option frontend" value="3">Front end</option>
          <option class="option backend" value="4">Back end</option>
          <option class="option pm" value="5">PM</option>
          <option class="option scrum-master" value="6">Scrum Master</option>
          <option class="option trainee" value="7">Trainee</option>
          <option class="option junior" value="8">Junior</option>
          <option class="option semi-sr" value="9">Semi Sr</option>
          <option class="option senior" value="10">Senior</option>
        </select>
      </div>

      <div class="input-container">
        <h4>Seniority / Nivel</h4>
        <select
          class="form-select option-select"
          formControlName="level"
          aria-label="Default select example">
          <option class="option trainee" value="3">Trainee</option>
          <option class="option junior" value="3">Junior</option>
          <option class="option semi-sr" value="3">Semi Sr</option>
          <option class="option senior" value="3">Senior</option>
        </select>
      </div>
    </div>
  </form>

  <!-- componente agus -->

  <div class="content-2">
    <!-- <div *ngIf="selectHeaderForm.valid" class="content-2"> -->
    <h3 class>Define la pregunta</h3>

    <!-- Formulario Angular con ngForm -->
    <form #questionForm="ngForm" (ngSubmit)="onSubmit(questionForm)" class>
      <div class="question-container mb-3">
        <div>
          <label for="questionType" class="custom-label"
            >Tipo de Pregunta</label
          >

          <!-- Seleccion de opcion -->

          <select
            class="custom-select"
            id="questionType"
            name="questionType"
            [(ngModel)]="selectedOption"
            (ngModelChange)="onQuestionTypeChange($event)"
            required>
            <option value="" disabled selected>Selecciona una opción</option>
            <option
              *ngFor="let type of questionTypes"
              class="custom-select"
              [value]="type">
              {{ type }}
            </option>
          </select>
        </div>
        <div class="custom-label">
          <div class="label-input">
            <label
              for="questionText"
              class="custom-label d-flex justify-content-end"
              >Escribe una pregunta</label
            >
          </div>

          <!-- Pregunta -->

          <input
            type="text"
            id="questionText"
            class="custom-input"
            name="questionText"
            ngModel
            placeholder="Escribe una pregunta"
            required />
        </div>
      </div>

      <!-- opciones: Opcion 1 Opcion 2 con bucle -->

      <div class="form-group">
        <div class="option-row">
          <div *ngFor="let option of options; let i = index" class="mb-3 row">
            <!-- check -->
            <div class="checkbox-container">
              <input
                type="{{inputType}}"
                class="checkbox-input"
                name="agregate"
                placeholder="Añadir una nueva opción" />
            </div>
            <!-- input del check -->
            <input
              type="text"
              class="custom-option-input"
              [(ngModel)]="options[i]"
              name="option{{ i }}"
              placeholder="Opción"
              [readonly]="isTrueFalseQuestion"
              required />
          </div>

          <!-- add options -->

          <div *ngIf="showPlus" class="row">
            <div class="checkbox-container">
              <i class="bi bi-plus-circle" (click)="addOption()"></i>
            </div>
            <input
              type="text"
              class="custom-option-input"
              name="agregate"
              placeholder="Añadir una nueva opción" />
          </div>
        </div>
      </div>

      <div *ngIf="showSubmits" class="d-flex justify-content-around">
        <button
          type="submit"
          class="custom-btn-submit"
          (click)="send()"
          >
          Guardar Pregunta
        </button>
        <button
          type="submit"
          class="custom-btn-submit"
          [disabled]="!questionForm.valid">
          Guardar
        </button>
        <button
          type="button"
          class="custom-btn-new-question"
          (click)="addNewQuestion(questionForm)"
          [disabled]="!questionForm.valid">
          Nueva Pregunta
        </button>
      </div>
    </form>
  </div>
</div>
