.transparent {
  background-color: #2121217a;
  /* width: 170vh; */
  height: 95vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header-inputs-container {
  padding: 0 1rem 1 rem 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 2.2rem;
}

.circle {
  border: 2px solid white;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  display: inline-block;
}

.btn-plus {
  width: 3rem;
  height: 3rem;
  border-radius: 8px;
  padding: 8px;
  gap: 8px;
  background: linear-gradient(to right, #6a5fff80, #ff5ea680);
  border: none;
}

.input-name {
  width: 384px;
  height: 40px;
}


.input-name{
  border-radius: 8px;
  border: 1px solid #333232;
  background-color: #1b1b1b;
  padding: 1rem;
  font-size: 14px;
}

.input-description {
  width: 135vh;
  height: 10vh;
  border-radius: 8px;
  border: 1px solid #333232;
  background-color: #1b1b1b;
  padding: 1rem;
  font-size: 14px;
}

.flex-b {
  display: flex;
  justify-content: space-between;
}
.quiz-container-true {
  flex-wrap: wrap;
  width: 137vh;
  height: 22vh;
  border-radius: 8px;
  padding: .4rem .4rem 1rem .4rem;
  font-size: 14px;
  box-shadow: 0px 2px 10px 0px #718EE3;
  border: 1px solid #333232;
}
.quiz-container-false {
  width: 137vh;
  height: 22vh;
  padding: .4rem .4rem 1rem .4rem;
  font-size: 14px;
}

 .absolute-true {
  position: absolute;
  top: 27.5vh
} 

.normal-container {
  background-color: #212121;
  padding: 1.5rem;
  border-radius: 12px;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.9);
  background-color: #212121;
  background-image: url('../../../../../assets/layout/images/logo.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 180px;
}

.content-1 {
  background-color: #353434;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 135vh;

  border-radius: 12px;
  padding: 0.8rem;
}

.option {
  background-color: #353434;
  white-space: nowrap;
}

.form-group {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 130vh;
}

.content-2 {
  width: 137vh;
  padding: 16px 0px 0px 0px;
  gap: 17px;
  font-family: Poppins;
  border-radius: 8px;
  padding: 16px;
  opacity: 0px;
  background-color: #4f4d4d73;
  box-shadow: 0px -3px 12.8px 0px rgba(241, 121, 197, 1);
}
.question-container {
  width: 130vh;
  height: 52px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.custom-label {
  font-family: Poppins;
  font-weight: 500;
  font-size: 14px;
  color: rgba(255, 255, 255, 1);
}

.custom-select {
  width: 60.5vh;
  height: 28px;
  border: none;
  opacity: 0px;
  padding: 0 0 0 8px;

  background: rgba(32, 32, 32, 1);
  color: rgba(194, 187, 187, 0.6);
}
.custom-input {
  width: 61vh;
  height: 4vh;
  border: none;
  gap: 0px;
  padding: 0px 8px 0px 8px;
  opacity: 0px;
  background: rgba(32, 32, 32, 1);
  border-radius: 8px;
}

.custom-option-group {
  margin-bottom: 10px;
}

.option-row {
  width: 130vh;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.custom-option-input {
  width: 57vh;
  height: 4vh;
  border-radius: 8px;
  background-color: #202020;
  border: none;
  color: gray;
  border-radius: 0 8px 8px 0px;
  cursor: pointer;
}

.checkbox-container {
  width: 4vh;
  height: 4vh;
  background-color: #303030;
  border-radius: 8px 0 0 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}

.checkbox-input {
  background-color: red;
}

.custom-radio {
  padding: 0 0 0 8px;
  width: 378px;
}

.custom-add-option-btn {
  width: 60vh;
  gap: 5px;
  border-radius: 8px;
  padding: 5px;
  color: #d8d6d6;
}

.custom-btn-submit {
  width: 91px;
  height: 42px;
  padding: 3px;
  background-color: rgba(106, 95, 255, 1);
  box-shadow: 0px 4px 4px 0px #00000026;
  cursor: pointer;
  border-radius: 8px;
  border: 1.4px solid #706fe5;
  font-size: 12px;
  color: #ffff;
}
.i {
  width: 7.89px;
  height: 10px;
  top: 2.5px;
  left: 1.97px;
  gap: 0px;
  opacity: 0px;
}

.custom-btn-new-question {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  width: 91px;
  height: 42px;
  padding: 8px;
  border-radius: 8px;
  border: 1.4px solid #5f5f5f;
  font-size: 12px;
  background: rgba(95, 95, 95, 1);
  color: rgba(126, 126, 126, 1);
  display: flex;
  justify-content: center;
  align-items: center;
}

.label-input {
  display: flex;
  justify-content: flex-start;
}
