/* agregado */

.sidebar-btns-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  /* background-color: red; */
  height: 60%;
}

.gestion-btns {
  width: 167px;
  height: 133px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.sidebar-btns {
  width: 166px;
  height: 31px;
  border-radius: 10px;
  padding: 0px 16px 0px 16px;
  gap: 16px;
  font-size: 10px;
  border: solid 1px #1b1b1bb2;
}

.sidebar-btns:hover,
.active-btn {
  background-color: #1b1b1bb2;
}

.side-img img {
  height: 41px;
}
