/* agregado */
.sidebar-container {
  background: #212121;
  box-shadow: 0px 4px 4px 0px #00000040;
  height: 90vh;
  width: clamp(200px, 15vw, 300px);
  border-radius: 0px 12px 12px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin-top:15%;
}

.toggle-sidebar {
  display: none;
}

.sidebar-btns-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  /* background-color: red; */
  height: 70%;
  width: 100%;
}

.gestion-btns {
  width: 100%;
  height: 133px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.sidebar-btns {
  background-color: #5F5F5F;
  width: 50px;
  height: 5vh;
  border-radius: 10px;
  padding: 0px 16px 0px 16px;
  gap: 16px;
  border: solid 1px #333232;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 0 auto;
  transition: all .3s ease;
}

.sidebar-btns-extended {
  background-color: #5F5F5F;
  width: 80%;
  height: 5vh;
  border-radius: 10px;
  padding: 0px 16px 0px 16px;
  gap: 16px;
  border: solid 1px #333232;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 0 auto;
  transition: all .3s ease;
}

.sidebar-font-btn {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 10px;
  display: flex;
  justify-content: start;
  align-items: flex-start;
  width: 80%;
}

.sidebar-btns:hover,
.active-btn {
  background-color: #1b1b1bb2;
}
.sidebar-btns-container .btn-logout{
  background-color: #212121;
}


.side-img {
  width: clamp(100px, 15vw, 130px);;
  height: auto;
}

.sidebar-btns i {
  color: #5974c7;
  font-size: 11.5px;
}

.svg {
  width: 15px;
}

.d-none {
  display: none;
}

@media (max-width: 768px) {
  .sidebar-container {
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color:#303030;
    height: 8vh;
    width: 100%;
    margin-top: 0;
    position: relative;
  }

  .side-img {
    width: 17%;
    height: auto;
    margin-left: 1.2rem;
  }

  .toggle-sidebar {
    display: flex;
    background-color:#2c2c2c;
    color: white;
    font-size: 24px;
    margin-right: 0.5rem;
  }

  .sidebar-btns-container {
  position: absolute;
  top: 100%;  
  height: auto;         
  left: 0;
  width: 100%;
  background-color: #2c2c2c;
  display: none;        
  flex-direction: column;
  padding: 1rem;
  z-index: 9;
  }


.sidebar-btns-container.show {
  display: flex;
}

.sidebar-btns-container.show .sidebar-font-btn {
  display: block !important;
  width: 100%;
  font-size: 5px;    
  padding-left: 1rem;  
  color: #C2BBBB99;
  line-height: 1.5;   
  font-size: 1rem;
}

.sidebar-btns-container.show i,
.sidebar-btns-container.show img {
  display: none !important;
}

.sidebar-btns-container.show button {
  background: #202020;
  border: none;
  width: 100%;
  height: 5vh;
  text-align: left;
  padding: 0.8rem 1rem;
  display: block;
  cursor: pointer;
}

.sidebar-btns-container.show .btn-logout{
 width: 10rem;
  height: 4vh;
  color: white;
  background: linear-gradient(#202020, #202020) padding-box,  
              linear-gradient(90deg, #FF5EA6, #572EFF) border-box; 
  border: 2px solid transparent; 
  border-radius: 15px;
  margin-right: 10px;
  display: flex;     
  align-items: center;         
  justify-content: flex-start;
  text-align: center;
}

.sidebar-btns-container.show .btn-logout span {
  margin: 0;
  padding: 0;
  display: block;
   background: linear-gradient(90deg, #FF5EA6, #572EFF);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

}