<div class="sidebar-container">
  <!-- Sidebar -->
  <div>
    <img src="assets/layout/images/logo.svg" class="side-img" alt="logo" />
  </div>

  <div class="sidebar-btns-container">
    <div class="gestion-btns">
      <div class="">
        <button class="sidebar-btns active-btn mb-2">
          <img class="svg" src="../../../../../assets/demo/images/dos/Vector.png">
          <span class="sidebar-font-btn">Gestión Quizz</span>
        </button>
      </div>

      <div class="">
        <button class="sidebar-btns mb-2">
          <img class="svg" src="../../../../../assets/demo/images/tres/Vector.png">
          <span class="sidebar-font-btn">Gestión Challenge</span>
        </button>
      </div>

      <div class="">
        <button class="sidebar-btns">
          <img class="svg" src="../../../../../assets/demo/images/cuatro/Administrador/Crear Quizz/Vector.png">
          <div class="sidebar-font-btn">Gestionar Candidatos</div>
        </button>
      </div>
    </div>

    <div class="">
      <button class="sidebar-btns active-btn mb-2">
        <i class="bi bi-gear"></i>
        <span class="sidebar-font-btn svg">Configuración</span>
      </button>
      <button class="sidebar-btns active-btn">
        <img class="svg" src="../../../../../assets/demo/images/Administrador/Crear Quizz/Vector.png">
        <span class="sidebar-font-btn">Salir</span>
      </button>
    </div>
  </div>
</div>
<!-- 
<button class="toggle-sidebar d-md-none" (click)="toggleSidebar()">
  <i class="bi bi-list"></i>
</button>


<div class="sidebar" [ngClass]="{'active': isSidebarOpen}">
  <div class="mb-5 side-img">
    <img src="assets/layout/images/logo.svg" class="" alt="logo" />
  </div>

  <div class="sidebar-btns-container">
    <div class="gestion-btns">
      <div>
        <button class="sidebar-btns active-btn">
          <i class="bi bi-card-checklist"></i>
          <span class="sidebar-font-btn">Gestión Quiz</span>
        </button>
      </div>

      <div>
        <button class="sidebar-btns">
          <i class="bi bi-boxes"></i>
          <span class="sidebar-font-btn">Gestión Challenge</span>
        </button>
      </div>

      <div>
        <button class="sidebar-btns">
          <i class="bi bi-people"></i>
          <div class="sidebar-font-btn">Gestionar Candidatos</div>
        </button>
      </div>
    </div>

    <div class="config-btn">
      <button class="sidebar-btns">
        <i class="bi bi-gear"></i>
        <span class="sidebar-font-btn">Configuración</span>
      </button>
      <button
      
            class="sidebar-btns text-white mt-3"
            (click)="logout()">
            <i class="bi bi-box-arrow-left"></i>
            salir
        </button>
    </div>
  </div>
</div>
 -->