<div class="container">
  <div class="column left-column">
      <div class="header">
          <h2>Challenges Configurados</h2>
          <button class="toggle-button">
              <i class="fa fa-plus" aria-hidden="true"></i>
          </button>
      </div>
      <div class="selectors">
          <div>
              <label for="module-select">Módulo</label>
              <select id="module-select" name="module">
                  <option value="" disabled selected>Seleccionar módulo</option>
                  <option value="value1">Value 1</option>
                  <option value="value2">Value 2</option>
                  <option value="value3">Value 3</option>
              </select>
          </div>
          <div>
              <label for="cell-select">Célula</label>
              <select id="cell-select" name="cell">
                  <option value="" disabled selected>Seleccionar célula</option>
                  <option value="value1">Value 1</option>
                  <option value="value2">Value 2</option>
                  <option value="value3">Value 3</option>
              </select>
          </div>
      </div>
      <div class="select-container">
          <select id="education-select" name="education">
              <option value="" disabled selected>Educación</option>
              <option value="pm">PM</option>
              <option value="backend">Backend</option>
              <option value="qa">QA</option>
          </select>
          <hr>
      </div>

      <div class="select-container">
          <select id="marketing-select" name="marketing">
              <option value="" disabled selected>Marketing</option>
              <option value="pm">PM</option>
              <option value="backend">Backend</option>
              <option value="qa">QA</option>
          </select>
          <hr>
      </div>

      <div class="select-container">
          <select id="systems-select" name="systems">
              <option value="" disabled selected>Sistemas</option>
              <option value="pm">PM</option>
              <option value="backend">Backend</option>
              <option value="qa">QA</option>
          </select>
          <hr>
      </div>
  </div>
  <div class="column right-column">
      <div class="header">
          <h2>Nuevo Challenge</h2>
          <button class="toggle-button">
              <i class="fa fa-plus" aria-hidden="true"></i>
          </button>
      </div>
      <input class="form-control form-control-lg" type="text" placeholder="Nombre Challenge">
      <br>
      <div class="selectors">
          <div>
              <label for="new-module-select">Módulo</label>
              <select id="new-module-select" name="module">
                  <option value="" disabled selected>Seleccionar módulo</option>
                  <option value="value1">Value 1</option>
                  <option value="value2">Value 2</option>
                  <option value="value3">Value 3</option>
              </select>
          </div>
          <div>
              <label for="new-cell-select">Célula</label>
              <select id="new-cell-select" name="cell">
                  <option value="" disabled selected>Seleccionar célula</option>
                  <option value="value1">Value 1</option>
                  <option value="value2">Value 2</option>
                  <option value="value3">Value 3</option>
              </select>
          </div>
      </div>
  </div>
</div>