.container {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  padding: 10px;
  flex-wrap: wrap;
}

.column {
  flex: 1; 
  min-width: 300px; 
  height: 618px;
  border-radius: 15px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #2A323D;
  box-sizing: border-box;
}

h2, h3 {
  font-weight: 700;
  color: #ffffff; 
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 0.5em;
  font-weight: 500;
  color: #ffffff; 
}

option[disabled] {
  color: #aaa;
}

.toggle-button {
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  background-color: #6200ff;
  color: white;
  cursor: pointer;
}

.toggle-button:hover {
  background-color: #0056b3;
}

/* Estilo para los selectores */
.selectors {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  gap: 5px;
  flex-wrap: wrap;
}

#cell-select, #module-select,#new-module-select, #new-cell-select{
  min-width: 250px;
  max-width: 350px;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-size: 1em;
  background-color: #202629;
  color: #ffffff; 
}

select:hover {
  cursor: pointer;
}

.select-container {
  position: relative;
  margin-bottom: 20px;
}

.select-container::after {
  content: '▼';
  color: white;
  font-size: 16px;
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
}

.select-container select {
  background: #2A323D;
  border: none;
  border-bottom: 1px solid white;
  color: white;
  padding: 5px 20px 5px 40px;
  font-size: 16px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 100%;
  box-sizing: border-box;
}


hr {
  border: 0;
  border-top: 1px solid white;
  margin: 0;
}


@media (max-width: 800px) {
  .container {
      flex-direction: column;
  }

  .column {
      width: 100%;
      margin-bottom: 10px;
  }
}

@media (max-width: 500px) {
  .select-container {
      margin-bottom: 15px;
  }
}