<section class="subpage">
  <div class="header" *ngIf="user$ | async as user">
    <h1>Bienvenido, {{ user.name }}</h1>
    <p class="date">{{ currentDate | date: 'dd MMM yyyy' }}</p>
  </div>
  <div class="content">
    <h1>Selecciona tu stack</h1>
    <div class="grid">
      <div class="card" *ngFor="let item of items" (click)="filtrarQuizzes(item.search)">
        <span class="title">{{ item.title }}</span>
        <img [src]="item.icon" [alt]="item.title" />
      </div>
    </div>
    <div class="d-flex justify-content-end">
      <button class="btn-all" (click)="filtrarQuizzes('all')">→ Ver todos</button>
    </div>
  </div>
</section>
