/* Contenedor principal */
.registro-escritorio {
  width: 100vw; // ocupa todo el ancho de la pantalla
  height: 100vh; // ocupa todo el alto de la pantalla
  padding: 5% 8%; // padding relativo a la pantalla
  display: flex;
  flex-direction: column;
  gap: 20px;
  opacity: 1;
  transform: rotate(0deg);

  /* Imagen de fondo */
  background-image: url('/assets/candidatoform.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  /* Centrado opcional de contenido */
  justify-content: center;
  align-items: center;
}

/* Contenedor del formulario */
.registro-formulario {
  width: 100%; // ocupa todo el ancho disponible
  max-width: 1080px; // límite según Figma
  height: auto; // altura automática según contenido

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row; // dividir en texto y formulario
  gap: 20px; // gap entre texto y formulario
  opacity: 1;
  transform: rotate(0deg);
}


/* Texto */
.registro-texto {
  width: 623px;
  min-width: 400px;
  height: 117px;
  display: flex;
  flex-direction: column;
  gap: 25px;
  opacity: 1;
}

.titulo-principal {
  width: 623px;
  height: 36px;

  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-style: normal; // "Bold" se controla con font-weight
  font-size: 42px;
  line-height: 36px;
  letter-spacing: 0;
  text-align: center;
  vertical-align: middle;
  color: #D9D9D9

}


.subtitulo {
  width: 623px;
  height: 56px;

  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-style: normal; // "Regular"
  font-size: 22px;
  line-height: 28px;
  letter-spacing: 0;
  text-align: center;
  vertical-align: middle;
  color: #D9D9D9;
}




/* Formulario */
.formulario {
  max-width: 437px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.formulario-logo {
  width: 437px;
  height: 108px;
  display: flex;
  justify-content: center; // centra el logo horizontalmente
  align-items: center; // centra el logo verticalmente
  opacity: 1;

  img {
    width: 88px; // aproximado según Figma
    height: 90px; // aproximado según Figma
    object-fit: contain;
  }
}

.formulario-texto {
  width: 437px;
  height: 40px;
  transform: rotate(0deg); /* angle: 0 deg */
  opacity: 1;

  font-family: 'Poppins', sans-serif;
  font-weight: 400;       /* Regular */
  font-style: normal;     /* Regular */
  font-size: 28px;
  line-height: 40px;
  letter-spacing: 0;
  text-align: center;
  vertical-align: middle;
  color: #FFFFFF;
  margin: 0; /* elimina márgenes por defecto si es h2, h3, etc. */
}


.formulario-inputs {
  width: 100%; // ocupa todo el ancho disponible dentro del formulario
  max-width: 437px; // no crece más que Figma
  min-height: 49px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 20px;
  border-radius: 10px;
  background: #262626;
  opacity: 1;
}

.input-label {
  width: 397px;
  display: flex;
  flex-direction: column;
  gap: 4px;
  position: relative; // importante para que .label-required se ubique

  /* -------- Label Section -------- */
  .label-container {
    width: 100%;
    height: 20px;
    position: relative; // referencia para el absolute
    display: flex;
    align-items: center;

    .label-text {
      font-family: 'Poppins', sans-serif;
      font-weight: 500; // Medium
      font-size: 14px;
      line-height: 20px;
      letter-spacing: 0.1px;
      color: #fff;
    }

    .label-required {
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background: #202020;

      display: flex;
      align-items: center;
      justify-content: center;

      font-family: 'Poppins', sans-serif;
      font-weight: 500;
      font-size: 14px;
      line-height: 1;
      /* 👈 controlamos altura */
      letter-spacing: 0;
      text-align: center;
      color: #fff;

      position: absolute;
      top: 0;
      right: 0;
    }


  }


  /* ====== Dropdown principal ====== */
  .custom-dropdown {
    width: 397px;
    height: 28px;
    border-radius: 8px;
    background: #202020;
    border: none;
    display: flex;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 10px;
    line-height: 117%;
    letter-spacing: 0;
    color: #c2bbbb;
  }

  /* Placeholder */
  .custom-dropdown .p-dropdown-label.p-placeholder,.p-multiselect-label.p-placeholder {
    color: #c2bbbb99;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 10px;
    line-height: 117%;
    padding-left: 8px;
  }

  /* Texto seleccionado */
  .custom-dropdown .p-dropdown-label,.p-multiselect-label {
    font-size: 10px;
    font-weight: 300;
    font-family: 'Poppins', sans-serif;
    line-height: 117%;
    color: #ffffff;
    padding-left: 8px;
  }



  /* ====== Contenido interno genérico  ====== */
  .dropdown-item-content {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 4px;
  }

  .dropdown-item-content .flag {
    font-size: 14px;
  }

  .dropdown-item-content .name,
  .dropdown-item-content .label {
    font-size: 10px;
    font-weight: 300;
    font-family: 'Poppins', sans-serif;
  }



  /* ====== Trigger (bloque del ícono) ====== */
  .custom-dropdown .p-dropdown-trigger {
    width: 28px;
    height: 28px;
    background: #303030;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;
    gap: 10px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }

  .custom-dropdown .p-dropdown-trigger .pi {
    width: 11.828px;
    height: 7.588px;
    background: #ffffff;
  }

  /* ====== Panel desplegable ====== */
  .custom-dropdown .p-dropdown-panel {
    background: #202020;
    border-radius: 8px;
    padding: 0;
    border: none;
    box-shadow: none;
  }

  /* Input de búsqueda dentro del panel */
  .custom-dropdown .p-dropdown-panel .p-dropdown-header.ng-star-inserted,
  .custom-dropdown .p-dropdown-panel .p-dropdown-filter-container {
    display: flex;
    justify-content: flex-start;
    padding: 4px 0;
    background: transparent;
  }

  .custom-dropdown .p-dropdown-panel .p-inputtext {
    width: 70%;
    height: 28px;
    padding: 0 8px;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 10px;
    line-height: 117%;
    color: #ffffff;
    background: #303030;
    border: none;
    border-radius: 8px;
    outline: none;
    box-shadow: none;
  }

  .custom-dropdown .p-dropdown-panel .p-inputtext::placeholder {
    color: #c2bbbb99;
  }

  /* ====== Items del panel (alineados a la izquierda) ====== */
  .custom-dropdown .p-dropdown-item {
    padding: 6px 8px;
    padding-left: 0;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 8px;
    font-family: 'Poppins', sans-serif;
    font-size: 10px;
    font-weight: 300;
    color: #ffffff;
    background: #202020;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  /* Hover, selección y focus */
  .custom-dropdown .p-dropdown-item:hover,
  .custom-dropdown .p-dropdown-item.p-highlight,
  .custom-dropdown .p-dropdown-item:focus {
    background: #303030;
    color: #ffffff;
    outline: none;
    box-shadow: none;
  }

  /* Quitar borde/blanco cuando el dropdown recibe focus */
  .custom-dropdown:focus,
  .custom-dropdown:focus-within {
    outline: none;
    box-shadow: none;
    border: none;
  }

// -------------
/* ====== Trigger (bloque del ícono) ====== */
.custom-dropdown .p-multiselect-trigger {
  width: 28px;
  height: 28px;
  background: #303030;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0;
  gap: 10px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.custom-dropdown .p-multiselect-trigger .pi {
  width: 11.828px;
  height: 7.588px;
  background: #ffffff;
}

/* ====== Panel desplegable ====== */
.custom-dropdown .p-multiselect-panel {
  background: #202020;
  border-radius: 8px;
  padding: 0;
  border: none;
  box-shadow: none;
}

/* Input de búsqueda dentro del panel */
.custom-dropdown .p-multiselect-panel .p-multiselect-header,
.custom-dropdown .p-multiselect-panel .p-multiselect-filter-container {
  display: flex;
  justify-content: flex-start;
  padding: 4px 0;
  background: transparent;
}

.custom-dropdown .p-multiselect-panel .p-inputtext {
  width: 70%;
  height: 28px;
  padding: 0 8px;
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  font-size: 10px;
  line-height: 117%;
  color: #ffffff;
  background: #303030;
  border: none;
  border-radius: 8px;
  outline: none;
  box-shadow: none;
}

.custom-dropdown .p-multiselect-panel .p-inputtext::placeholder {
  color: #c2bbbb99;
}

/* ====== Items del panel (alineados a la izquierda) ====== */
.custom-dropdown .p-multiselect-item {
  padding: 6px 8px;
  padding-left: 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 8px;
  font-family: 'Poppins', sans-serif;
  font-size: 10px;
  font-weight: 300;
  color: #ffffff;
  background: #202020;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* Hover, selección y focus */
.custom-dropdown .p-multiselect-item:hover,
.custom-dropdown .p-multiselect-item.p-highlight,
.custom-dropdown .p-multiselect-item:focus {
  background: #303030;
  color: #ffffff;
  outline: none;
  box-shadow: none;
}

/* Quitar borde/blanco cuando el multiselect recibe focus */
.custom-dropdown:focus,
.custom-dropdown:focus-within {
  outline: none;
  box-shadow: none;
  border: none;
}



// --------
/* Chips seleccionados */
.custom-chip {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2px 6px;
  border-radius: 12px;
  font-size: 10px;
  font-weight: 300;
  font-family: 'Poppins', sans-serif;
  color: #ffffff;
  margin-right: 4px;
  height: 20px;
}

/* Nombre dentro del chip */
.custom-chip .chip-name {
  margin-right: 4px;
}

/* Icono check dentro del chip */
.custom-chip .chip-check {
  color: #ffffff;
  font-size: 12px;
  font-weight: bold;
 }

 
// -------------------
// Multiselect 
/* Cuadro de selección de cada item */
.custom-dropdown .p-checkbox-box {
  width: 16px;           /* tamaño más pequeño */
  height: 16px;
  background-color: #7e7676; /* blanco gris */
  border-radius: 4px;    /* opcional, bordes redondeados */
  border: 1px solid #c2c2c2; /* borde gris suave */
}

/* Marca de check dentro del checkbox */
.custom-dropdown .p-checkbox-box.p-highlight {
  background-color: #303030; /* color de fondo cuando está seleccionado */
}

.custom-dropdown .p-checkbox-box.p-checkbox-checked::after {
  border-color: #ffffff; /* color del check ✔ blanco */
  border-width: 2px;
}

// ---
/* Ocultar botón de cerrar todos los chips */
// .custom-dropdown .p-multiselect-close {
//   display: none !important;
// }
.p-multiselect-token {
  font-size: 10px;
  font-weight: 300;
  font-family: 'Poppins', sans-serif;
  padding: 2px 6px;
  border-radius: 12px;
  margin-right: 4px;
  display: inline-flex;
  align-items: center;
}



  /* -------- Input Section -------- */
  .input-container {
    width: 100%;
    height: 28px;
    display: flex;
    align-items: center;
    padding-left: 8px;
    border-radius: 6px;
    background: #202020;

    input {
      width: 100%;
      height: 100%;
      border: none;
      outline: none;
      background: transparent;
      font-family: 'Poppins', sans-serif;
      font-weight: 300; // Light
      font-size: 10px;
      line-height: 117%;
      color: #c2bbbb;

      &::placeholder {
        color: #c2bbbb99;
      }
    }
  }
}

.dropdown-container {
  width: 397px;
  height: 28px;
  border-radius: 8px;
  background: #262626;
  position: relative;

  select {
    width: 100%; // ocupa todo
    height: 100%;
    padding-left: 8px;
    padding-right: 28px; // espacio para el icono
    border: none;
    border-radius: 8px;
    background: #202020;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 10px;
    line-height: 117%;
    color: #c2bbbb;
    appearance: none; // quita flecha nativa
    outline: none;
  }

  .dropdown-icon {
    width: 28px;
    height: 28px;
    background: #303030;
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: none;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;

    i {
      font-size: 12px;
      color: #fff;
    }
  }
}

.alert-error {
  color: #f63aaf;
  font-size: 10px;       /* tamaño de letra más pequeño */
  font-family: Poppins, sans-serif;
  margin-left: 8px;    /* mantiene un pequeño margen lateral */
  height: 13px;         /* espacio reservado para que no se expanda el formulario */
  min-height: 13px;     /* asegura que haya al menos ese espacio */
  display: flex;
  align-items: center;  /* centra verticalmente el texto */
}



/* Botón */
.btn-guardar {
  width: 91px; // igual que rectangle27
  height: 42px;
  border: none;
  border-radius: 9px;
  background: linear-gradient(234.95deg, #FF5EA6 0%, #572EFF 100%);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;

  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 117%;
  letter-spacing: 0;
  color: #fff; // texto sobre gradiente
  text-align: center;

  /* Pequeño padding-top si quieres replicar el 2px del Figma */
  padding-top: 2px;
  align-self: flex-end;

  transition: opacity 0.3s;
}

.btn-guardar:hover {
  opacity: 0.85;
}






/* Media query para tablet y pantallas más pequeñas */
@media (max-width: 1024px) {
  .registro-escritorio {
    padding: 20px 40px;
    /* según Figma */
    display: flex;
    justify-content: center;
    /* centramos horizontalmente */
    align-items: center;
    /* centramos verticalmente */
    height: 100vh;
    /* ocupar toda la pantalla */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .registro-formulario {
    width: 100%;
    max-width: 600px;
    /* ancho del formulario */
    flex-direction: column;
    /* eliminamos el texto lateral */
    gap: 20px;
    margin: 0 auto;
    /* centramos horizontalmente */
  }

  .registro-texto {
    display: none;
    /* ocultamos texto */
  }

  .formulario {
    width: 100%;
    max-width: 600px;
    /* adaptamos al ancho */
    display: flex;
    flex-direction: column;
    gap: 18px;
  }

  .formulario-inputs,
  .input-label,
  .dropdown-container {
    width: 100%;
    /* que ocupe todo el ancho del formulario */
    max-width: 100%;
  }

  .formulario-logo img {
    width: 88px;
    height: 90px;
  }

  .btn-guardar {
    align-self: center;
    /* centramos botón */
  }
}