/* General */
body {
    font-family: 'Roboto', sans-serif;
    background-color: #141414;
    color: #fff;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

.container {
    margin: 0 auto;
    max-width: 900px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}

h2 {
    color: #fff;
    font-size: 26px;
    margin-bottom: 20px;
}

/* Card */
.card {
    background-color: #1d1d1d;
    border-radius: 8px;
    padding: 20px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 15px rgba(115, 102, 255, 0.2);
    position: relative;
    overflow: hidden;
}

/* Contenedores */
.container-sup p {
    margin: 0 0 10px;
    font-size: 16px;
}

h4 {
    color: #f0f0f0;
    font-size: 20px;
    margin-bottom: 10px;
}

/* Listas de preguntas */
ul {
    list-style-type: none;
    padding: 0;
}

li {
    background-color: #292929;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}

li p {
    margin: 0;
}

li strong {
    color: #9e9eff;
}

li ul {
    margin-top: 10px;
}

li ul li {
    background: none;
    padding: 0;
    color: #b3b3b3;
    margin-bottom: 5px;
}

/* Estilos adicionales */
.noQuestions {
    text-align: center;
    padding: 10px;
    background-color: #292929;
    border-radius: 5px;
}

