.contenedor {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .content-1 {
    background-color: #353434;
    display: flex;
    justify-content: space-between;
    width: 135vh;
    border-radius: 12px;
    padding: 0.8rem;
  }
  
  .input-container {
    width: 38vh;
    display: flex;
    flex-direction: column;
  }
  
  h4 {
    color: #f0f0f0;
    font-size: 16px;
    margin-bottom: 5px;
  }
  
  select {
    background-color: #202020;
    color: #8e8e8e;
    border: none;
    border-radius: 5px;
    padding: 0.8rem;
    font-size: 12px;
    outline: none;
    appearance: none;
    width: 100%;
  }
  
  select:hover {
    background-color: #303030;
  }
  
  .module-option,
  .cell-option,
  .seniority-option {
    background-color: #202020;
    color: rgb(142, 142, 142);
    border: none;
    border-radius: 0.5rem;
    padding: 0.8rem;
    font-size: 12px;
  }
  
  .logo-centrado {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 250px;
    opacity: 0.1;
    z-index: 0;
  }
  
  .card {
    background-color: #1d1d1d;
    border-radius: 8px;
    padding: 20px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 15px rgba(115, 102, 255, 0.2);
    position: relative;
    overflow: hidden;
    flex-grow: 1;
    z-index: 1;
  }
  
  .container-sup {
    display: flex;
    justify-content: space-between;
    gap: 20px;
  }
  