* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(#4f2a40, #302151);
}

img {
  width: 100%;
  max-width: 200px;
  height: auto;
}

.input-w input {
  width: 100%;
  padding: 10px;
  background-color: white;
  border: none;
  border-radius: 8px;
  color: rgb(40, 39, 39);
}
::placeholder{
  color: grey;
}
.btn-li {
  border-radius: 25px;
  font-size: 15px;
  font-weight: 600;
  height: 50px;
}
.btn-google {
  background-color: black; 
  color:white; 
  border-radius: 18px;
  font-size: 10px;
  padding: 10px 20px; 
  border: 1px solid white;; 
  cursor: pointer; 
  
}

@media (max-width: 576px) {
  h2 {
    font-size: 18px;
  }

  .btn-li {
    font-size: 12px;
  }
}
