<div
  class="d-flex justify-content-center flex-column align-items-center vh-100">
  <div>
    <img
      src="https://media.licdn.com/dms/image/v2/D4D0BAQG_-mK5wwyzUg/company-logo_200_200/company-logo_200_200/0/1692227250793/programatrainit_logo?e=2147483647&v=beta&t=lF-73wxu99J0svzqOHS0_DD6Gz6Tf5uvTEbPHj0KoA4"
      alt="" />
  </div>
  <h2 class="mb-5">Registrate para comenzar la aventura</h2>
  <div class="d-flex flex-column mb-3">
    <div class="mb-3 input-w">
      <input type="text" />
    </div>
    <div class="mb-3 input-w">
      <input type="text mb-3" />
    </div>

    <button class="btn btn-primary btn-li">REGISTRARME</button>
  </div>
  <span class="mb-3">o</span>
  <button class="btn btn-primary mb-3">Registrate con Google</button>
  <span>Ya tiene una cuenta? Inicia sesion</span>
</div>
