<body>
  <app-background>    
    <h2 class="mb-5">Regístrate para comenzar la aventura</h2>
    <div class="d-flex flex-column mb-3">
      <div class="mb-3 input-w">
        <input type="text" placeholder="Nombre" />
      </div>
      <div class="mb-3 input-w">
        <input type="text" placeholder="Email" />
      </div>
      <button class="btn btn-primary btn-li">REGISTRARME</button>
    </div>
    <span class="mb-3">o</span>
    <app-google-btn
      buttonText="Regístrate con Google">
    </app-google-btn>
    <span>¿Ya tienes una cuenta? <span class="required" style="cursor: pointer;" (click)="login()" >Inicia sesión</span></span>
  </app-background>
</body>
