<app-background>
<form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()" class="d-flex flex-column mt-5">
  <!-- Contraseña -->
  <div class="input-w">
    <label for="nombre">Contraseña <span class="required">*</span></label>
    <input
      [type]="passwordFieldType1"
      class="form-control"
      formControlName="password"
      placeholder="Contraseña"
      [class.is-invalid]="f['password'].invalid && f['password'].touched" />

    <button
      class="btn showPasswordBtn shadow-none"
      type="button"
      id="password-toggle"
      (click)="togglePasswordVisibility()">
      <img
        [src]="
          passwordVisible1
            ? 'assets/images/sign-up/ClosedEye.png'
            : 'assets/images/sign-up/OpenedEye.png'
        "
        alt="mostrar contraseña"
        class="eyePic" />
    </button>
    <!-- Alertas para la contraseña -->

    <div
      *ngIf="f['password'].invalid && f['password'].touched"
      class="invalid-feedback d-flex">
      <div *ngIf="f['password'].errors?.['required']" class="required-text">
        La contraseña es requerida.
      </div>
      <div *ngIf="f['password'].errors?.['pattern']" class="required">
        La contraseña no cumple con los parámetros.
        <div
          class="small mt-2 mb-2 flex flex-column align-items-start required">
          Debe tener 8 caracteres, con al menos una letra mayúscula, un número,
          y un símbolo especial.
        </div>
      </div>
    </div>
  </div>

  <!-- Confirma contraseña / Contraseña 2 -->
  <div class="input-w">
    <label for="confirmPassword"
      >Repite contraseña <span class="required">*</span></label
    >
    <input
      [type]="passwordFieldType2"
      class="form-control"
      formControlName="confirmPassword"
      placeholder="Repetir contraseña"
      [class.is-invalid]="
        f['confirmPassword'].invalid && f['confirmPassword'].touched
      " />

    <button
      class="btn showPasswordBtn shadow-none"
      type="button"
      id="password-toggle"
      (click)="togglePasswordVisibility2()">
      <img
        [src]="
          passwordVisible2
            ? 'assets/images/sign-up/ClosedEye.png'
            : 'assets/images/sign-up/OpenedEye.png'
        "
        alt="mostrar contraseña"
        class="eyePic" />
    </button>

    <!-- Aletas para contraseña 2 -->
    <div
      *ngIf="f['confirmPassword'].invalid && f['confirmPassword'].touched"
      class="invalid-feedback d-block">
      <div
        *ngIf="f['confirmPassword'].errors?.['required']"
        class="required-text">
        Confirmar contraseña es requerido.
      </div>
    </div>
    <div
      *ngIf="resetPasswordForm.errors?.['mismatch'] && f['confirmPassword'].touched"
      class="invalid-feedback d-block required-text">
      Tu contraseña no coincide.
    </div>
  </div>
  <button type="submit" class="btn btn-primary btn-form" [disabled]="resetPasswordForm.invalid">Cambiar contraseña</button>
</form>

<app-info-modal
    *ngIf="showModal"
    (closed)="showModal = false"
    [showImage]="false">
    <div modal-footer *ngIf="successOperation">
      <img src="assets/images/sign-up/icon-request-answer.png" alt="" />
      <h3>¡Cambio de contraseña exitoso!</h3>
      <button class="btn btn-primary btn-form" (click)="finalizarProceso()">
        Aceptar
      </button>
    </div>

    <div modal-header *ngIf="!successOperation">
      <h3>Upss. Ha ocurrido un problema</h3>
    </div>

    <div modal-footer *ngIf="!successOperation">
      <img src="assets/images/sign-up/icon-bad-request-answer.png" alt="" />
      <h3>Error en el cambio de contreaseña</h3>
      <button class="btn btn-primary btn-form" (click)="showModal = false">
        Intentar de nuevo
      </button>
    </div>
  </app-info-modal>
</app-background>