<div
  class="d-flex justify-content-center flex-column align-items-center vh-100 fondo">
  <div>
    <img src="assets/images/login/trainit.png" alt="" class="logo" />
  </div>
  <h2 class="mb-5">Registrate para comenzar la aventura</h2>

  <form
    class="d-flex flex-column"
    [formGroup]="registerForm"
    (ngSubmit)="onSubmit()">
    <!-- Nombre -->
    <div class="input-w">
      <label for="nombre">Nombre <span class="required">*</span></label>
      <input
        type="text"
        class="form-control"
        formControlName="nombre"
        placeholder="Nombre"
        [class.is-invalid]="f['nombre'].invalid && f['nombre'].touched" />
      <!-- Alertas para nombre -->
      <div
        *ngIf="f['nombre'].invalid && f['nombre'].touched"
        class="invalid-feedback d-block">
        <div *ngIf="f['nombre'].errors?.['required']" class="required-text">
          El nombre es requerido.
        </div>
        <div *ngIf="f['nombre'].errors?.['pattern']">
          El nombre sólo puede contener letras.
        </div>
      </div>
    </div>

    <!-- Apellido -->
    <div class="input-w">
      <label for="apellido">Apellido <span class="required">*</span></label>
      <input
        type="text"
        class="form-control"
        formControlName="apellido"
        placeholder="Apellido"
        [class.is-invalid]="f['apellido'].invalid && f['apellido'].touched" />

      <!-- Alertas para apellido -->

      <div
        *ngIf="f['apellido'].invalid && f['apellido'].touched"
        class="invalid-feedback d-block">
        <div *ngIf="f['apellido'].errors?.['required']" class="required-text">
          El apellido es requerido.
        </div>
        <div *ngIf="f['apellido'].errors?.['pattern']">
          El apellido solo puede contener letras.
        </div>
      </div>
    </div>

    <!-- Email -->
    <div class="input-w">
      <label for="email">Email <span class="required">*</span></label>
      <input
        type="email"
        class="form-control"
        formControlName="email"
        placeholder="Email"
        [class.is-invalid]="f['email'].invalid && f['email'].touched" />

      <!-- Alertas para el email -->
      <div
        *ngIf="f['email'].invalid && f['email'].touched"
        class="invalid-feedback d-block required">
        <div *ngIf="f['email'].errors?.['required']" class="ml-3">
          El email es requerido.
        </div>
        <div *ngIf="f['email'].errors?.['pattern']">
          Ingresa un email válido.
        </div>
      </div>
    </div>

    <!-- Número telefónico -->
    <div class="input-w">
      <label for="nombre">Teléfono <span class="required">*</span></label>
      <input
        type="tel"
        class="form-control"
        formControlName="phone"
        placeholder="+54 9"
        [class.is-invalid]="f['phone'].invalid && f['phone'].touched" />

      <!-- Alertas para el teléfono -->
      <div
        *ngIf="f['phone'].invalid && f['phone'].touched"
        class="invalid-feedback d-block">
        <div *ngIf="f['phone'].errors?.['required']" class="required-text">
          Ingresa un teléfono válido.
        </div>
        <div *ngIf="f['phone'].errors?.['pattern']">
          El teléfono solo debe contener números.
        </div>
      </div>
    </div>

    <!-- Contraseña -->
    <div class="input-w">
      <label for="nombre">Contraseña <span class="required">*</span></label>
      <input
        type="password"
        class="form-control"
        formControlName="password"
        placeholder="Contraseña"
        [class.is-invalid]="f['password'].invalid && f['password'].touched" />
      <!-- Alertas para la contraseña -->

      <div
        *ngIf="f['password'].invalid && f['password'].touched"
        class="invalid-feedback d-flex">
        <div
          *ngIf="f['password'].errors?.['required']"
          class="required-text">
          La contraseña es requerida.
        </div>
        <div *ngIf="f['password'].errors?.['pattern']">
          La contraseña no cumple con los parámetros.
          <div class="small mt-2 mb-2 flex flex-column align-items-center">
            La contraseña debe tener:
            <ul>
              <li>Al menos 8 caracteres.</li>
              <li>Al menos una letra mayúscula.</li>
              <li>Al menos un número.</li>
              <li>Al menos un símbolo especial.</li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <!-- Confirma contraseña / Contraseña 2 -->
    <div class="input-w">
      <label for="nombre"
        >Repite contraseña <span class="required">*</span></label
      >
      <input
        type="password"
        class="form-control"
        formControlName="password-2"
        placeholder="Repetir contraseña"
        [class.is-invalid]="
          f['password-2'].invalid && f['password-2'].touched
        " />
        

      <!-- Aletas para contraseña 2 -->
      <div
        *ngIf="f['password-2'].invalid && f['password-2'].touched"
        class="invalid-feedback d-block">
        <div *ngIf="f['password-2'].errors?.['required']" class="required-text">
          Confirmar contraseña es requerido.
        </div>
      </div>
      <div
        *ngIf="registerForm.errors?.['mismatch'] && f['password'].touched"
        class="invalid-feedback d-block">
        La contraseña no coincide.
      </div>
    </div>

    <button
      type="submit"
      class="btn btn-primary btn-li"
      [disabled]="registerForm.invalid">
      Registrarme
    </button>
  </form>
</div>
