.input-w input {
    background-color: white;
    border: none;
    border-radius: 8px;

    width: 190px;
    height: 25px;
}

.btn-li {
    border-radius: 18px;
    font-size: 10px;
    border: solid 2px rgb(105, 105, 192);
    background-color: rgb(105, 105, 192);
    height: 35px;
}

.btn-g{
    background-color: black;
    border: solid 1px white;
    border-radius: 18px;
}