<div
  class="d-flex justify-content-center flex-column align-items-center vh-100">
  <div>
    <img
      src="https://media.licdn.com/dms/image/v2/D4D0BAQG_-mK5wwyzUg/company-logo_200_200/company-logo_200_200/0/1692227250793/programatrainit_logo?e=2147483647&v=beta&t=lF-73wxu99J0svzqOHS0_DD6Gz6Tf5uvTEbPHj0KoA4"
      alt="" />
  </div>
  <h2 class="mb-5">Registrate para comenzar la aventura</h2>

  <form class="d-flex flex-column mb-3">
    <div class="mb-5 input-w">
      <input type="text" class="form-control" name="nombre" placeholder="Nombre" />
    </div>
    <div class="mb-4 input-w">
      <input type="email" class="form-control mb-3" name="email" placeholder="Email" />
    </div>
    <div class="mb-4 input-w">
      <input type="number" class="form-control mb-3" name="phone" placeholder="Teléfono" />
    </div>
    <div class="mb-4 input-w">
      <input type="password" class="form-control mb-3" name="password" placeholder="Contraseña" />
    </div>
    <div class="mb-4 input-w">
      <input type="password" class="form-control mb-3" name="password-2" placeholder="Repito la contraseña" />
    </div>
  
    <button type="submit" class="btn btn-primary btn-li">REGISTRARME</button>
  </form>

</div>
